.scheduleContainer {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.listContainer {
    width: 40%;
    flex-direction: column;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100%;
}

.calendarContainer {
    width: 128vh;
    padding: 1vh;
}

.scheduleRow {
  display: flex;
  flex-direction:column;
  border: solid;
  margin: 1vh;
}

.scheduleLine {
    display: flex;
    flex-direction: row;
    font-size: 2vh;
    font-weight: bolder;
    align-items: center;
    margin: 0vh;
    width: 68vh;
    height: 8vh;
}

.scheduleItem {
    display: flex;
    flex-direction: column;
    width: 30vh;
    padding: 2vh;
}

.scheduleNowButton {
    margin-left: 5vh;
    margin-right: 5vh;
    width: 10vh;
    height: 5vh;
}

.scheduleInput {
    width: 30vh;
}